<!DOCTYPE html>
<html lang="" dir="ltr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <title></title>
  <style type="text/css">
    table {
      width: 100%;
      text-align: left;
      border-collapse: collapse;
      background-color: #EEE7DB;
    }
    table td, table th {
      border: 1px solid #AAAAAA;
      padding: 3px 2px;
    }
    table tbody td {
      font-size: 13px;
    }
    table thead th {
      font-size: 19px;
      font-weight: bold;
      color: #FFFFFF;
      text-align: left;
    }
    table thead th:first-child {
      border-left: none;
    }

    .red {
      border: 2px solid #A40808;
    }
    .red .even {
      background: #F5C8BF;
    }
    .red thead, tr.red {
      background: #A40808;
    }
    .red thead th {
      border-left: 2px solid #A40808;
    }

    .orange {
      border: 2px solid #E69609;
    }
    .orange .even {
      background: #E6CA92;
    }
    .orange thead, tr.orange {
      background: #E69609;
    }
    .orange thead th {
      border-left: 2px solid #E69609;
    }

    .blue {
      border: 1px solid #1C6EA4;
    }
    .blue .even {
      background: #D0E4F5;
    }
    .blue thead, tr.blue {
      background: #1C6EA4;
    }
    .blue thead th {
      border-left: 2px solid #D0E4F5;
    }

    .stats {
      width: 30%;
      border: 3px solid #6f6f6f;
      color: black;
    }
    .stats thead {
      background: #262626;
    }
    .stats th, .stats td {
      border: 2px solid #363636;
    }
    .stats tbody {
      font-weight: bold;
    }

    .content {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    .first-col {
      width: 15%;
      font-weight: bold;
    }
    .second-col {
      width: 85%;
    }
  </style>
</head>

<body>
  <div class="content">
    <h3>Vulnerability report</h3>
    <h4>{{ project_name }} | {{ version_name }}</h4>

    <table class="stats">
      <thead>
        <tr>
          <th colspan="2">Statistics</th>
        </tr>
      </thead>
      <tbody>
        <tr class="red">
          <td>HIGH</td>
          <td>{{ stats.HIGH }}</td>
        </tr>
        <tr class="orange">
          <td>MEDIUM</td>
          <td>{{ stats.MEDIUM }}</td>
        </tr>
        <tr class="blue">
          <td>LOW</td>
          <td>{{ stats.LOW }}</td>
        </tr>
      </tbody>
    </table>
    <br><br>

    {% for report in reports %}
      {% if report.vulnerability.severity == "HIGH" %}
        <table class="red">
      {% elif report.vulnerability.severity == "MEDIUM" %}
        <table class="orange">
      {% else %}
        <table class="blue">
      {% endif %}
          <thead>
            <tr>
              <th colspan="2">Vulnerability: {{ report.vulnerability.vulnerabilityName }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="first-col">Library</td>
              <td class="second-col">{{ report.ver }}</td>
            </tr>
            <tr class="even">
              <td class="first-col">Description</td>
              <td class="second-col">{{ report.vulnerability.description }}</td>
            </tr>
            <tr>
              <td class="first-col">Matched files</td>
              <td class="second-col">
                <ul>
                  {% for f in report.components %}
                  <li>{{ f }}</li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
    {% endfor %}
  </div>
</body>
</html>
